import pandas as pd

In [ ]:
car_series = pd.Series(["Toyota","Honda","Lexus","BMW"])

In [ ]:
car_series

0    Toyota
1     Honda
2     Lexus
3       BMW
dtype: object

In [ ]:
colour = pd.Series(["White","Black","Green","Blue"])

In [ ]:
colour

0    White
1    Black
2    Green
3     Blue
dtype: object

In [ ]:
#using dataframe
car_data = pd.DataFrame({"Car Name": car_series, "Colour": colour})

In [ ]:
car_data

  Car Name Colour
0   Toyota  White
1    Honda  Black
2    Lexus  Green
3      BMW   Blue

In [ ]:
#Importing Data from CSV
car_sales = pd.read_csv("/content/drive/MyDrive/Pandas/car_sales.csv")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
car_sales

       Name Colour  Odometer(KM)  Doors  Model       Price
0    Toyota  Black        150043      4   2015  $1,000,000
1     Lexus  White         87899      4   2021  $1,000,000
2     Honda    Red         32549      3   2021  $1,000,000
3       BMW  Black         11179      5   2021  $1,000,000
4  Mercedes   Blue        213095      4   2021  $1,000,000
5      Opal   Grey         99213      4   2021  $1,000,000
6      Audi  White         45698      3   2021  $1,000,000

In [ ]:
#Exporting file as a csv file
car_sales.to_csv("Exported-car-sales.csv", index=False)

In [ ]:
exported_car_sales = pd.read_csv("Exported-car-sales.csv")

In [ ]:
exported_car_sales

       Name Colour  Model        Price
0    Toyota  Black   2015  $1,000,000
1     Lexus  White   2021  $1,000,000
2     Honda    Red   2021  $1,000,000
3       BMW  Black   2021  $1,000,000
4  Mercedes   Blue   2021  $1,000,000
5      Opal   Grey   2021  $1,000,000
6      Audi  White   2021  $1,000,000

In [ ]:
#Showing the data only from the top
car_sales.head()

       Name Colour  Model        Price
0    Toyota  Black   2015  $1,000,000
1     Lexus  White   2021  $1,000,000
2     Honda    Red   2021  $1,000,000
3       BMW  Black   2021  $1,000,000
4  Mercedes   Blue   2021  $1,000,000

In [ ]:
#Showing the data from top to 0 index to 6
car_sales.head(7)

       Name Colour  Model        Price
0    Toyota  Black   2015  $1,000,000
1     Lexus  White   2021  $1,000,000
2     Honda    Red   2021  $1,000,000
3       BMW  Black   2021  $1,000,000
4  Mercedes   Blue   2021  $1,000,000
5      Opal   Grey   2021  $1,000,000
6      Audi  White   2021  $1,000,000

# Describe Data

In [ ]:
# Attribut
car_sales.dtypes
# Function
#car_sales.to_csv()#This is a function cause it contains ()

Name            object
Colour          object
Odometer(KM)     int64
Doors            int64
Model            int64
Price           object
dtype: object

In [ ]:
car_sales.columns

Index(['Name', 'Colour', 'Odometer(KM)', 'Doors', 'Model', 'Price'], dtype='object')

In [ ]:
car_columns = car_sales.columns

In [ ]:
car_columns

Index(['Name', 'Colour', 'Odometer(KM)', 'Doors', 'Model', 'Price'], dtype='object')

In [ ]:
car_sales.index

RangeIndex(start=0, stop=7, step=1)

In [ ]:
#Functions
car_sales.describe()#Describe Works only on integer values

        Odometer(KM)     Doors        Model
count       7.000000  7.000000     7.000000
mean    91382.285714  3.857143  2020.142857
std     71074.484514  0.690066     2.267787
min     11179.000000  3.000000  2015.000000
25%     39123.500000  3.500000  2021.000000
50%     87899.000000  4.000000  2021.000000
75%    124628.000000  4.000000  2021.000000
max    213095.000000  5.000000  2021.000000

In [ ]:
car_sales.info()#It is like index combined with dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          7 non-null      object
 1   Colour        7 non-null      object
 2   Odometer(KM)  7 non-null      int64
 3   Doors         7 non-null      int64
 4   Model         7 non-null      int64
 5   Price         7 non-null      object
dtypes: int64(3), object(3)
memory usage: 464.0+ bytes

In [ ]:
car_sales.mean()

Odometer(KM)    91382.285714
Doors               3.857143
Model            2020.142857
dtype: float64

In [ ]:
car_prices = pd.Series([3000,1500,111250])
car_prices.mean()

38583.333333333336

In [ ]:
car_sales.sum()

Name                          ToyotaLexusHondaBMWMercedesOpalAudi
Colour                            BlackWhiteRedBlackBlueGreyWhite
Odometer(KM)                                               639676
Doors                                                          27
Model                                                       14141
Price           $1,000,000$1,000,000$1,000,000$1,000,000$1,000...
dtype: object

In [ ]:
car_sales["Doors"].sum()#To sum specific integer type values

27

In [ ]:
len(car_sales)

7

# Viewing & Selecting Data

In [ ]:
# Viewing data using head function
car_sales.head()

       Name Colour  Odometer(KM)  Doors  Model       Price
0    Toyota  Black        150043      4   2015  $1,000,000
1     Lexus  White         87899      4   2021  $1,000,000
2     Honda    Red         32549      3   2021  $1,000,000
3       BMW  Black         11179      5   2021  $1,000,000
4  Mercedes   Blue        213095      4   2021  $1,000,000

In [ ]:
# Showing till specific count data using head(Top to bottom)
car_sales.head(3)

     Name Colour  Odometer(KM)  Doors  Model       Price
0  Toyota  Black        150043      4   2015  $1,000,000
1   Lexus  White         87899      4   2021  $1,000,000
2   Honda    Red         32549      3   2021  $1,000,000

In [ ]:
# Now Using Tail function to show data from the bottom
car_sales.tail(3)

       Name Colour  Odometer(KM)  Doors  Model       Price
4  Mercedes   Blue        213095      4   2021  $1,000,000
5      Opal   Grey         99213      4   2021  $1,000,000
6      Audi  White         45698      3   2021  $1,000,000

In [ ]:
# Now Look at .loc & iloc
animals = pd.Series(["cat","Dog","bird", "Pandas","Snake"],
                    index=[0,3,9,8,3])# Giving index numbering by user
animals

0       cat
3       Dog
9      bird
8    Pandas
3     Snake
dtype: object

In [ ]:
# Showing dat using index 
animals.loc[3]

3      Dog
3    Snake
dtype: object

In [ ]:
car_sales.loc[3]

Name                   BMW
Colour               Black
Odometer(KM)         11179
Doors                    5
Model                 2021
Price           $1,000,000
Name: 3, dtype: object

In [ ]:
# .iloc refers to position number
animals.iloc[3]

'Pandas'

In [ ]:
# Getting data from and upto value data using .iloc
car_sales.iloc[:3]

     Name Colour  Odometer(KM)  Doors  Model       Price
0  Toyota  Black        150043      4   2015  $1,000,000
1   Lexus  White         87899      4   2021  $1,000,000
2   Honda    Red         32549      3   2021  $1,000,000

In [ ]:
car_sales.head(3)

     Name Colour  Odometer(KM)  Doors  Model       Price
0  Toyota  Black        150043      4   2015  $1,000,000
1   Lexus  White         87899      4   2021  $1,000,000
2   Honda    Red         32549      3   2021  $1,000,000

In [ ]:
car_sales.loc[:3] # It shows data until index 3

     Name Colour  Odometer(KM)  Doors  Model       Price
0  Toyota  Black        150043      4   2015  $1,000,000
1   Lexus  White         87899      4   2021  $1,000,000
2   Honda    Red         32549      3   2021  $1,000,000
3     BMW  Black         11179      5   2021  $1,000,000

In [ ]:
car_sales

       Name Colour  Odometer(KM)  Doors  Model       Price
0    Toyota  Black        150043      4   2015  $1,000,000
1     Lexus  White         87899      4   2021  $1,000,000
2     Honda    Red         32549      3   2021  $1,000,000
3       BMW  Black         11179      5   2021  $1,000,000
4  Mercedes   Blue        213095      4   2021  $1,000,000
5      Opal   Grey         99213      4   2021  $1,000,000
6      Audi  White         45698      3   2021  $1,000,000

In [ ]:
# Viewing the data of specific column
# The data of the column name containing spaces can also be seen using string
car_sales["Model"]

0    2015
1    2021
2    2021
3    2021
4    2021
5    2021
6    2021
Name: Model, dtype: int64

In [ ]:
# Viewing data iside the file greater than the value required value
car_sales[car_sales["Model"]>2015]

       Name Colour  Odometer(KM)  Doors  Model       Price
1     Lexus  White         87899      4   2021  $1,000,000
2     Honda    Red         32549      3   2021  $1,000,000
3       BMW  Black         11179      5   2021  $1,000,000
4  Mercedes   Blue        213095      4   2021  $1,000,000
5      Opal   Grey         99213      4   2021  $1,000,000
6      Audi  White         45698      3   2021  $1,000,000

In [ ]:
# Viewing the data from file from specific column and specific value of the column
car_sales[car_sales["Colour"]=="Black"]

     Name Colour  Odometer(KM)  Doors  Model       Price
0  Toyota  Black        150043      4   2015  $1,000,000
3     BMW  Black         11179      5   2021  $1,000,000

In [ ]:
# To view data using .
car_sales.Model # If the column name contains space then it can't be used

0    2015
1    2021
2    2021
3    2021
4    2021
5    2021
6    2021
Name: Model, dtype: int64

In [ ]:
car_columns.Model

AttributeError: ignored

In [ ]:
# It tells only the number and index of the columns present in the data in the file
car_columns

Index(['Name', 'Colour', 'Odometer(KM)', 'Doors', 'Model', 'Price'], dtype='object')

In [ ]:
car_sales.dtypes

Name            object
Colour          object
Odometer(KM)     int64
Doors            int64
Model            int64
Price           object
dtype: object